body {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
.main > p {
  font-size: 2em;
}
.main > input {
  font-size: 2em;
  outline: none;
}

.keyboard {
  width: 100%;
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: repeat(12, 5%);
  grid-gap: 1px;
  margin-top: 5%;
}

.keyboard > div {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 25%;
}
