.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
.main > p {
  font-size: 2em;
}
.main > input {
  font-size: 2em;
  outline: none;
}
